doctype html
html
    //- - var baseUrl = 'https://biancalina.github.io/roberto-blake-replica'
    block config
    head
        title=title
        meta(name="description", content="description")
        meta(name="robots", content="noindex")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        link(rel="stylesheet", href="/style.css")
        link(
            rel="canonical", 
            href="http://robertoblake.com/"
        )
        //- if config.entry.css.embed
        //-     link(rel="stylesheet" href=`${embedPath}` inline)
    body
        include ../header/header
        .content
            block content
        hr
        include ../featured/featured
        .footer
            include ../footer/footer
        script(src="/asset/js/all.js")
